#main_change{
    @include margin;
    background:{
        color: $bg-color2;
    }

    /*header*/
    .main_change_header{
        margin-bottom: 5.6rem;
        padding-left: 3.8rem;
        border-left: 6px solid $color1;
        @extend %title;
    }
    /*end of header*/

    /*content*/
    .main_change_content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        /*text*/
        .main_change_content_text{
            flex-basis: 50%;
            padding-right: 3.2rem;

            p{
                margin: 0;
                padding: 0;
                text:{
                    align: justify;
                }
            }
        }
        /*end of text*/

        /*image*/
        .main_change_content_image{
            flex-basis: 50%;
            width: 100%;

            img{
                width: 100%;
                height: 100%;
                object:{
                    fit: cover;
                    position: center;
                }
            }
        }
        /*end of image*/
    }
    /*end of content*/
}