%title{
    h1{
        @include marginSet;
        font:{
            size: 4.2rem;
            weight: $font-light;
        }
        line:{
            height: 1.2;
        }

        strong{
            font:{
                size: 5.2rem;
                weight: $font-bold;
            }
        }
    }
}