// width - 768px
@media (max-width: 768px){
    html {
        font-size: 50%;
    }   

    // navbar
    #header{
        .header_navbar{
            .header_navbar_section{
                .header_navbar_section_nav{
                    display: none;
                }

                .header_navbar_section_toggle{
                    margin: 0;
                    padding: 0;
                    width: 32px;    
                    height: 32px;

                    .header_navbar_section_toggle_bar{
                        background-color: $color1;
                        height: 3px;
                        width: 100%;
                        margin: 6px auto;
                        transition-duration: .3s;
                    }
                }
            }
            .on{
                position: absolute;
                top: 0;
                left: 0;

                width: 100vw;
                height: 100vh;

                display: flex;
                justify-content: center;
                align-items: center;

                background-color: rgba($color1, .98);

                .header_navbar_section_nav{
                    display: block;
                }

                .header_navbar_section_toggle{
                    position: absolute;
                    top: 18px;
                    right: 18px;


                    & > .header_navbar_section_toggle_bar:nth-child(1){
                        transform: rotate(45deg) translate(9px, 9px);
                    }

                    & > .header_navbar_section_toggle_bar:nth-child(2){
                        opacity: 0;
                    }

                    & > .header_navbar_section_toggle_bar:nth-child(3){
                        transform: rotate(-45deg) translate(4px, -4px);
                    }

                    .header_navbar_section_toggle_bar{
                        background-color: $color3;
                        transition: background-color .3s ease-in-out;
                    }
                }

                .header_navbar_section_nav{
                    ul{
                        flex-direction: column;	

                        li{

                            a{
                                display: block;
                                line-height: 6rem;
                                transition-duration: .5s;
                                font-size: 3rem !important;
                                color: $color3 !important;
                            }
                        }
                    }
                }
            }	
        }
    }

}

// width - 425px
@media (max-width: 425px){

}

// width - 320px
@media (max-width: 320px){

}