//CORES
$color1: #266AA3;
$color2: #747474;
$color3: #ffffff;

//BACKGROUND COLOR
$bg-color1: $color1;
$bg-color2: #F8F8F8;
$bg-color3: #E5E5E5;
$bg-color4: rgba($color3, .8);

//FONT-WEIGHT
$font-light: 300;
$font-regular: 500;
$font-bold: 700;

$theme-colors: () !default;
$theme-colors: map_merge(
    (
    "color1": $color1,
    "color2": $color2,
    "color3": $color3,
    ), $theme-colors
);

//INCLUDES
@import "includes";

//EXTENDS
@import "extends";