#unidades{
    @include margin;
    background:{
        color: $bg-color2;
    }
    
    /*header*/
    .main_units_header{
        margin-bottom: 8rem;
        padding-left: 3.8rem;
        border-left: 6px solid $color1;
        @extend %title;
    }
    /*end of header*/
    
    /*content*/
    .main_units_content{
        @include marginSet;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 3rem;
        
        /*article*/
        .main_units_content_card{
            width: 100%;
            background:{
                color: $color3;
            }
            border-radius: 1.5rem 1.5rem 1.5rem 6rem;
            -webkit-border-radius: 1.5rem 1.5rem 1.5rem 6rem;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
            
            /*image*/
            .main_units_content_card_image{
                margin: 0;
                padding: 2rem 0;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 3px solid $color1;
            }
            /*end of image*/
            
            /*content*/
            .main_units_content_card_content{
                margin: 0;
                padding: 3.2rem;
                text:{
                    align: center;
                }
                
                h2{
                    margin-bottom: 1.8rem;
                    padding: 0;
                    font:{
                        size: 2.2rem;
                        weight: $font-regular;
                    }
                    color: $color1;
                }
                
                /*address, zip code and phone*/
                .main_units_content_card_content_address, .main_units_content_card_content_zipCode, .main_units_content_card_content_phone{
                    font:{
                        size: 1.4rem;
                        weight: $font-light;
                        style: normal;
                    }
                }
                /*end of address, zip code and phone*/
                
                /*button cta*/
                .main_units_content_card_content_buttonCta{
                    margin-top: 1.6rem;
                }
                /*end of button cta*/
            }
            /*end of content*/
        }
        /*end of article*/
    }
    /*end of content*/
}